/**
 * eo4geo theme for reveal.js. (...\eo4geo_reveal_template\css\theme)
 *
 * By Hakim El Hattab, http://hakim.se
 * adapted by: University of Salzburg, 2020
 */
 /*import font:*/
 
 
body:after {
content: url(../images/eo4geocourses_logo.png);
position: fixed;
bottom: 3.5em;
left: 3.5em;
box-shadow: 5px 5px 10px #000; }

a {
	/* These are technically the same, but use both */
  	overflow-wrap: break-word;
  	word-wrap: break-word;

  	-ms-word-break: break-all;
  	/* This is the dangerous one in WebKit, as it breaks things wherever */
  	word-break: break-all;
  	/* Instead use this non-standard one: */
  	word-break: break-word;

  	/* Adds a hyphen where the word breaks, if supported (No Blink) */
  	-ms-hyphens: auto;
  	-moz-hyphens: auto;
  	-webkit-hyphens: auto;
 	 hyphens: auto;
}

ul {
	display: inline-block;
	list-style-position: outside;
	margin-left: 0px;
	padding-left: 0px;

}

section{
	margin-top: 1em
}
img {

  background-color: #293133; 
}